In [19]:
import pandas as pd
import numpy as np
import optivarfuncs as of
df=of.getdf(stocks=[0,1,2,3,4])
df.sort_values(by=['date_id','seconds_in_bucket'],inplace=True)
df

    stock_id  date_id  far_price  near_price  seconds_in_bucket  target
0          0      0.0        NaN         NaN                  0       0
4          1      0.0        NaN         NaN                  0       4
8          2      0.0        NaN         NaN                  0       8
12         3      0.0        NaN         NaN                  0      12
16         4      0.0        NaN         NaN                  0      16
1          0      0.0        NaN         NaN                  1       1
5          1      0.0        NaN         NaN                  1       5
9          2      0.0        NaN         NaN                  1       9
13         3      0.0        NaN         NaN                  1      13
17         4      0.0        NaN         NaN                  1      17
2          0      0.0       20.0        21.0                  2       2
6          1      0.0       60.0        61.0                  2       6
10         2      0.0      100.0       101.0                  2      10
14         3      0.0      140.0       141.0                  2      14
18         4      0.0      180.0       181.0                  2      18
3          0      0.0       30.0        31.0                  3       3
7          1      0.0       70.0        71.0                  3       7
11         2      0.0      110.0       111.0                  3      11
15         3      0.0      150.0       151.0                  3      15
19         4      0.0      190.0       191.0                  3      19
60         0      3.0        NaN         NaN                  0      60
64         1      3.0        NaN         NaN                  0      64
68         2      3.0        NaN         NaN                  0      68
72         3      3.0        NaN         NaN                  0      72
76         4      3.0        NaN         NaN                  0      76
61         0      3.0        NaN         NaN                  1      61
65         1      3.0        NaN         NaN                  1      65
69         2      3.0        NaN         NaN                  1      69
73         3      3.0        NaN         NaN                  1      73
77         4      3.0        NaN         NaN                  1      77
62         0      3.0      620.0       621.0                  2      62
66         1      3.0      660.0       661.0                  2      66
70         2      3.0      700.0       701.0                  2      70
74         3      3.0      740.0       741.0                  2      74
78         4      3.0      780.0       781.0                  2      78
63         0      3.0      630.0       631.0                  3      63
67         1      3.0      670.0       671.0                  3      67
71         2      3.0      710.0       711.0                  3      71
75         3      3.0      750.0       751.0                  3      75
79         4      3.0      790.0       791.0                  3      79
80         0      4.0        NaN         NaN                  0      80
84         1      4.0        NaN         NaN                  0      84
88         2      4.0        NaN         NaN                  0      88
92         3      4.0        NaN         NaN                  0      92
96         4      4.0        NaN         NaN                  0      96
81         0      4.0        NaN         NaN                  1      81
85         1      4.0        NaN         NaN                  1      85
89         2      4.0        NaN         NaN                  1      89
93         3      4.0        NaN         NaN                  1      93
97         4      4.0        NaN         NaN                  1      97
82         0      4.0      820.0       821.0                  2      82
86         1      4.0      860.0       861.0                  2      86
90         2      4.0      900.0       901.0                  2      90
94         3      4.0      940.0       941.0                  2      94
98         4      4.0      980.0       981.0                  2      98
83         0      4.0      830.0       831.0                  3      83
87         1      4.0      870.0       871.0                  3      87
91         2      4.0      910.0       911.0                  3      91
95         3      4.0      950.0       951.0                  3      95
99         4      4.0      990.0       991.0                  3      99

In [20]:
df1=df.sort_values(by=['stock_id','date_id'])

In [42]:
df1

    stock_id  date_id  far_price  near_price  seconds_in_bucket  target
0          0      0.0        NaN         NaN                  0       0
1          0      0.0        NaN         NaN                  1       1
2          0      0.0       20.0        21.0                  2       2
3          0      0.0       30.0        31.0                  3       3
60         0      3.0        NaN         NaN                  0      60
61         0      3.0        NaN         NaN                  1      61
62         0      3.0      620.0       621.0                  2      62
63         0      3.0      630.0       631.0                  3      63
80         0      4.0        NaN         NaN                  0      80
81         0      4.0        NaN         NaN                  1      81
82         0      4.0      820.0       821.0                  2      82
83         0      4.0      830.0       831.0                  3      83
4          1      0.0        NaN         NaN                  0       4
5          1      0.0        NaN         NaN                  1       5
6          1      0.0       60.0        61.0                  2       6
7          1      0.0       70.0        71.0                  3       7
64         1      3.0        NaN         NaN                  0      64
65         1      3.0        NaN         NaN                  1      65
66         1      3.0      660.0       661.0                  2      66
67         1      3.0      670.0       671.0                  3      67
84         1      4.0        NaN         NaN                  0      84
85         1      4.0        NaN         NaN                  1      85
86         1      4.0      860.0       861.0                  2      86
87         1      4.0      870.0       871.0                  3      87
8          2      0.0        NaN         NaN                  0       8
9          2      0.0        NaN         NaN                  1       9
10         2      0.0      100.0       101.0                  2      10
11         2      0.0      110.0       111.0                  3      11
68         2      3.0        NaN         NaN                  0      68
69         2      3.0        NaN         NaN                  1      69
70         2      3.0      700.0       701.0                  2      70
71         2      3.0      710.0       711.0                  3      71
88         2      4.0        NaN         NaN                  0      88
89         2      4.0        NaN         NaN                  1      89
90         2      4.0      900.0       901.0                  2      90
91         2      4.0      910.0       911.0                  3      91
12         3      0.0        NaN         NaN                  0      12
13         3      0.0        NaN         NaN                  1      13
14         3      0.0      140.0       141.0                  2      14
15         3      0.0      150.0       151.0                  3      15
72         3      3.0        NaN         NaN                  0      72
73         3      3.0        NaN         NaN                  1      73
74         3      3.0      740.0       741.0                  2      74
75         3      3.0      750.0       751.0                  3      75
92         3      4.0        NaN         NaN                  0      92
93         3      4.0        NaN         NaN                  1      93
94         3      4.0      940.0       941.0                  2      94
95         3      4.0      950.0       951.0                  3      95
16         4      0.0        NaN         NaN                  0      16
17         4      0.0        NaN         NaN                  1      17
18         4      0.0      180.0       181.0                  2      18
19         4      0.0      190.0       191.0                  3      19
76         4      3.0        NaN         NaN                  0      76
77         4      3.0        NaN         NaN                  1      77
78         4      3.0      780.0       781.0                  2      78
79         4      3.0      790.0       791.0                  3      79
96         4      4.0        NaN         NaN                  0      96
97         4      4.0        NaN         NaN                  1      97
98         4      4.0      980.0       981.0                  2      98
99         4      4.0      990.0       991.0                  3      99

In [44]:
df1.iloc[0]

# # importing pandas as pd
# import pandas as pd
  
# # dictionary of lists
# dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
#         'degree': ["MBA", "BCA", "M.Tech", "MBA"],
#         'score':[90, 40, 80, 98]}
 
# # creating a dataframe with boolean index  
# df = pd.DataFrame(dict, index = [True, False, True, False])
 
# # accessing a dataframe using .iloc[] function 
# print(df.iloc[0])

stock_id             0.0
date_id              0.0
far_price            NaN
near_price           NaN
seconds_in_bucket    0.0
target               0.0
Name: 0, dtype: float64

In [27]:
df.far_price=df.far_price.interpolate(method='linear')

In [18]:
for index, row in df.iterrows():
    print(row["near_price"])

nan
nan
21.0
31.0
nan
nan
621.0
631.0
nan
nan
821.0
831.0
nan
nan
61.0
71.0
nan
nan
661.0
671.0
nan
nan
861.0
871.0
nan
nan
101.0
111.0
nan
nan
701.0
711.0
nan
nan
901.0
911.0
nan
nan
141.0
151.0
nan
nan
741.0
751.0
nan
nan
941.0
951.0
nan
nan
181.0
191.0
nan
nan
781.0
791.0
nan
nan
981.0
991.0