In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   [np.nan, 3, np.nan, 4]],
                  columns=list("ABCD"))
df

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN
3  NaN  3.0 NaN  4.0

In [4]:
df.C.fillna(0,inplace=True)
df

     A    B    C    D
0  NaN  2.0  0.0  0.0
1  3.0  4.0  0.0  1.0
2  NaN  NaN  0.0  NaN
3  NaN  3.0  0.0  4.0